
.sideButton {
    width:200px;
    background-color: rgb(197, 1, 1);
    color: white;
    border-style: solid;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color:rgb(197, 1, 1);
    margin-bottom: 3px;
    margin-top:3px;
    display:block;

    font-weight:bold;
} 
.tabContent{
    display:none;
}
.sideButton:hover{
    background-color: rgb(148, 4, 4);
}
.tabs{
    background-color: rgb(249, 243, 252);
    display: flex;
}
.content{
    border-left: 20px;
    width:100%;
    margin-top: 3px;
}
.topTabs{
    color: white;
    background-color: rgb(248, 93, 93);
}