.header{
    background:#821010;
    color:white;
    border-bottom:2px solid black;
    padding: 25px;
    display:flex;
}

h2{
    font-family:cursive;
    font-weight:bold;
    padding-left:40px;
}

h3{
    font-family:cursive;
    font-weight:bold;
    text-align: center;
}

h4{
    font-family:cursive;
    font-weight:bold;
    margin-left: auto;    
}

.chevron{
    background:green;
    color:white;
}
.chevron:hover{
    background:white;
    color:green;
}
.container {
    display:flex;
    width: 100%;
    align-items: stretch;
    padding-right:0px;
    padding-left:0px;
    margin-left:0px;
    margin-right:0px;    
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #821010;
    color: #fff;
    transition: all 0.3s;
    margin-left:-200px;
    border-right:2px solid black;
}

.sidebar.active {
    margin-left: 0px;
}
.logincard{
    border: 5px solid black;
    background-color: #fad3d3;
}
.item{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 2px solid black;
}
.item:hover {
    color: black;
    background: white;
    transition: all 0.5s;
}
.item.selected{
    color: black;
    background: white;
}
.content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.login{
    align-self:center;
    text-align:center;
    justify-content: center;
    display:flex;
    width: 100%;
    padding:100px;
    min-height: 60vh;
    border-radius: 3px;
}
.loginTabs{
    background: #b82d2d;
    color: #fff;
}
.login-size{
    width: 20rem; 
    height:15rem;
}
.login-size2{
    width: 20rem; 
    height:21rem;
}
.settings-size{
    width: 30rem; 
    height:21rem
}

.class-table{
    margin:auto;
    width:500px;
}

.forumButton{
    background:#821010;
    color:white;
}

.forumButton:hover{
    border-color: #821010;
    background:white;
    color:#821010;
}

.post-title{
    color:black;
    font-family:cursive;
    font-weight:bold;
    padding-left:40px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

#forum-post{
    color: black;
    background-color: lightskyblue;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: left;
}

#forum-response-text{
    color: black;
    background-color: lightgray;
}

.replyButton{
    background: lightskyblue;
    color:black;
    margin-top: 15px;
    width: 100%
}
.createButton{
    background: lightgrey;
    color:black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%
}

.my-select{
    text-align: center;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
}
.alert-success{
    text-align: center;
}