.header{
    background:#821010;
    color:white;
    border-bottom:2px solid black;
    padding: 25px;
    display:flex;
}

.subheader{
    background:blue;
    color:white;
    border-bottom:2px solid black;
    padding: 25px;
    align-content: center;
}

h2{
    font-family:cursive;
    font-weight:bold;
    padding-left:40px;
}

h3{
    font-family:cursive;
    font-weight:bold;
    text-align: center;
}

.chevron{
    background:green;
    color:white;
}
.chevron:hover{
    background:white;
    color:green;
}


.container {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding-right:0px;
    padding-left:0px;
    margin-left:0px;
    margin-right:0px;    
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #821010;
    color: #fff;
    transition: all 0.3s;
    margin-left:-200px;
    border-right:2px solid black;
}

.sidebar.active {
    margin-left: 0px;
}

.item{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 2px solid black;
}

.item:hover {
    color: black;
    background: white;
    transition: all 0.5s;
}

.content{
    text-align:center;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.forumButton{
    background:#821010;
    color:white;
    margin-bottom: 50px;
}

.forumButton:hover{
    border-color: #821010;
    /* width: 100%; */
    background:white;
    color:#821010;
}

.row{
    border: 0px solid black;
}

.col{
    border: solid black;
}

#forum-post{
    color: white;
    background-color: #821010;
}

#forum-response{
    margin-top: 10px;
    padding-left: 50px;
    text-align: right;
    color: white;
    background-color: #821010;
}

#forum-response-text{
    /* text-align: right; */
    color: black;
    background-color: lightgray;
}
